<%- include("partials/header.ejs") %>

<h3>Edit bank</h3>

<p class="fw-bold">Bank name: <%= name %></p>
<form class="" action="/edit/<%= _id %>" method="post">
<div class="edit" name="editBox">
  <div class="setting">
    <span>Interest rate: <input class="add-comma" type="text" name="newinterestRate" required='required' value=<%= interestRate %>> % </span>
</div>
  <div class="setting">
    <span> Maximum loan: $<input class="add-comma" type="text" name="newmaximumLoan" required='required' value =<%= maximumLoan %>></span>
  </div>
  <div class="setting">
    <span>Minimum down payment: $<input class="add-comma" type="text" name="newminimumDownPayment" required='required' value =<%= minimumDownPayment %>></span>
  </div>
  <div class="setting">
    <span>Loan Term: <input class="add-comma" type="text" name="newloanTerm" required='required' value =<%= loanTerm %>> years</span>
  </div>
  <button type="submit" class=" save btn btn-dark btn-sm" name="button">Save</button>
</div>
</form>

<script>
  function updateTextView(_obj){
    var num = getNumber(_obj.val());
    if(num==0){
      _obj.val('');
    }else{
      _obj.val(num.toLocaleString());
    }
  }
  function getNumber(_str){
    var arr = _str.split('');
    var out = new Array();
    for(var cnt=0;cnt<arr.length;cnt++){
      if(isNaN(arr[cnt])==false){
        out.push(arr[cnt]);
      }
    }
    return Number(out.join(''));
  }
  $(document).ready(function(){
    $('.add-comma').on('keyup',function(){
      updateTextView($(this));
    });
  });
</script>

<%- include("partials/footer.ejs") %>
